main {
    background-color: var(--background);
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggleThemeSwitch {
    position: fixed;
    top: 1dvh;
    right: 1dvw;
}

#form {
    width: 35dvh;
    padding: 5dvh;
    height: fit-content;
    min-width: 10rem;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--fontColor);
}

form > label {
    text-align: left;
    margin-top: 2.5dvh;
    font-size: 1.8dvh; /* .8rem */
}

form > input {
    background-color: transparent;
    outline: none;
    padding: 2px;
    font-size: 1.8dvh; /* .8rem */
    color: var(--fontColor);
}

form > button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-block: .3dvh;
    background-color: transparent;
    font-size: 1.8dvh; /* non-exixtent */
    overflow: hidden;
}

form > .btnNotLoading:active {
    animation: glitch .2s;
}

form > .loadingBtn {
    opacity: .7;
    transition: none;
}

form > label, form > button {
    font-weight: 500;
    color: var(--fontColor);
}

#signup {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.8dvh; /* .8rem */
    font-weight: 400;
    color: var(--fontColor);
    margin-top: 1dvh;
    text-wrap: nowrap;
}

#signup > button, #signup > button > a:visited {
    font-size: 1.8dvh; /* .8rem */
    color: var(--linkColor);
}

/* default (non-existent) */
form > h2 {
    font-size: 3.5dvh;
}

form > h2, #signup {
    transition: color 0s;
}

@keyframes glitch {
    25% {
      transform: translateX(-10px);
      letter-spacing: 10px;
    }
  
    35% {
      transform: translate(10px);
    }
  
    59% {
      opacity: 0;
    } 
  
    60% {
      transform: translate(-10px);
      filter: blur(5px);
    }
  
    100% {
      blur: (5px);
    }
}

.rememberAccount {
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 1.8dvh; /* .8rem */
    margin-top: 5px;
    margin-bottom: 4dvh;
    display: flex;
    align-items: center;
    color: var(--fontColor);
    transition: color 0s;
}

.loginError {
    font-size: 1.7dvh; /* .7rem */
    color: #F00;
}

@media only screen and (max-width: 768px) {
    #form {
        width: 25dvh;
    }
}

@media only screen and (min-width: 768px) {
    form > .btnNotLoading::before {
        content: 'Login';
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        color: var(--fontColor);
        background-color: var(--fontColor);
        transition: width 250ms, height 250ms, color 0s;
        font-weight: 600;
        overflow: hidden;
    }
    
    form > .btnNotLoading:hover::before {
        width: 100%;
        height: 100%;
        color: var(--background);
        transition: width 250ms, height 250ms, color 1s;
    }
}