main {
    background-color: var(--background);
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggleThemeSwitch {
    position: fixed;
    top: 1dvh;
    right: 1dvw;
}