.multipleChoices, .trueOrFalse, .truthAndLie, .enumeration{
    width: 50px;
    height: 50px;
    border: .1em solid var(--iconBorder);
    border-radius: .5em;
}

path {
    stroke: var(--fontColor);
    fill: var(--fontColor);
}

.appLogo {
    display: block;
}

.appLogo > .diffColor {
    stroke: var(--background);
    fill: var(--background);
}