.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7px;
    width: 85dvw;
    color: var(--fontColor);
    place-items: center;
}

.wrapper > button{
    padding: 5px 5px;
    font-size: 1rem;
    display: flex;
    text-align: left;
    align-items: left;
    /* justify-content: center; */
    flex-direction: column;
    width: fit-content;
    height: 130px;
    background-color: transparent;
    color: var(--fontColor);
}

.wrapper > button:nth-child(even){
    justify-self: start;
}

.wrapper > button:nth-child(odd){
    justify-self: end;
}

.wrapper > button > span {
    font-size: .8rem;
    /* opacity: .7; */
    color: var(--fontColorGray);
}
