.defaultBorder {
    border: solid var(--border);
    border-width: 2px 5px 5px 2px;
}
.buttonBorder {
    border: solid var(--border);
    border-width: .1rem .2rem .2rem .1rem;
}
.inputBorder {
    border: solid var(--border);
    border-width: 1px 1px 1px 1px;
}
.noDesignButton {
    border: none;
    background-color: transparent;
    outline: none;
}